<template name="PanelRight">
  <div class="panel panel-right panel-reveal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="center">Center</div>
      </div>
    </div>

    <!-- Search Bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
      <div class="searchbar-input">
        <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
      </div><a href="#" class="searchbar-cancel">Cancel</a>
    </form>

    <!-- Search Bar overlay -->
    <div class="searchbar-overlay"></div>

    <div class="content-page">
      {{> ContactList}}
    </div>
  </div>
</template>


<template name="ContactList">

  <div class="list-block media-list inset">
  <ul>
    {{#each friends}}
      <li>
        <a href="{{pathFor route='chat'}}" class="close-panel">
          <div class="item-content">
            <div class="item-media">
              <span class="badge bg-orange" style="float: right; position: absolute; left: 50px; border-radius: 10px; border: 2px solid #ffffff; width: auto; height: auto; padding: 2px 5px;">
                5
              </span>
              <img src="http://lorempixel.com/88/88/fashion/1" width="44">
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">{{#each emails}}{{address}}{{/each}}</div>
                <div class="item-after"><span class="badge bg-{{status}}"></span></div>
              </div>
              <div class="item-subtitle">{{_id}}</div>

            </div>
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
  </div>
</template>
