<template name="PanelRight">
  <div class="panel panel-right panel-reveal">

    <div class="content-page">
      {{> ContactList}}
    </div>
  </div>
</template>


<template name="ContactList">
  <div class="list-block media-list inset">
  <ul>
    <li>
      <a href="{{pathFor route='chat'}}" class="close-panel">
        <div class="item-content">
          <div class="item-media">
            <span class="badge bg-orange" style="float: right; position: absolute; left: 50px; bottom: 3px; border-radius: 10px; border: 2px solid #ffffff;     width: auto; height: auto; padding: 2px 5px;">
              5
            </span>
            <img src="http://lorempixel.com/88/88/fashion/1" width="44">
          </div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/2" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/3" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/4" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/5" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/6" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/7" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/8" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/9" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/10" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/11" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/12" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/13" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/14" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/15" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/16" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/17" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/18" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/19" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/20" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="{{pathFor route='chat'}}">
        <div class="item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/21" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
              <div class="item-after"><span class="badge bg-green"></span></div>
            </div>

          </div>
        </div>
      </a>
    </li>

  </ul>
  </div>
</template>
