<template name="NavBar">
  <div class="navbar">
    <div class="navbar-inner">

        <div class="left">
            <a href="#" class="open-panel link" data-panel="left">
                <i class="icon fa fa-lg fa-user"></i>
            </a>
        </div>

        <div class="center sliding i18n" data-i18n="app.name" style="left: 9.5px;">HiApp</div>

        <div class="right">
          <a href="#" class="open-panel link" data-panel="right" >
              <i class="icon fa fa-lg fa-users"></i>
          </a>
        </div>

    </div>
</div>
</template>
