/* Mobile */
@media (max-width: 767px) { }
@media (min-width: 768px) { }
@media (min-width: 768px) and (max-width: 1023px) { }
@media (min-width: 1024px) and (max-width: 1269px) { }
@media (min-width: 1270px) {
  .panel.panel-left.panel-reveal {
    display: block;
    z-index: 10000;
  }

  .panel.panel-right.panel-reveal {
    display: block;
  }

  .view-main {
      box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
      left: 260px;
      width: calc(100% - 260px - 260px);
  }
}
