<template name="PanelLeft">
  <div class="panel panel-left panel-reveal">
    <div class="content-page">
      <div style="background: url(http://framework7.io/apps/todo7/img/bg.jpg); background-size: cover; height: 100px; text-align: center">
        <img src="http://lorempixel.com/68/68/people/3/" style="margin-top: 50px; width: 100px; height: 100px; border-radius: 50%; border: 5px solid #ffffff;" />
      </div>

      <div class="list-block">
        <ul style="margin-top: 66px;">
          <li>
            <a href="{{pathFor route='home'}}" id="home" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-home"></i></div>
              <div class="item-inner">
                <div class="item-title">Home</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='videochat'}}" id="videochat" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-comment"></i></div>
              <div class="item-inner">
                <div class="item-title">Videochat</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='timeline'}}" id="timeline"  class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-th-list"></i></div>
              <div class="item-inner">
                <div class="item-title">Timeline</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='login'}}" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-sign-out"></i></div>
              <div class="item-inner">
                <div class="item-title">Logout</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='themes'}}" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-plus"></i></div>
              <div class="item-inner">
                <div class="item-title">New Group</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='chat'}}" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-comment"></i></div>
              <div class="item-inner">
                <div class="item-title">Chats</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='webcam'}}" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-comment"></i></div>
              <div class="item-inner">
                <div class="item-title">Webcam</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{pathFor route='group'}}" class="item-link item-content close-panel">
              <div class="item-media"><i class="icon fa fa-lg fa-group"></i></div>
              <div class="item-inner">
                <div class="item-title">Group</div>
              </div>
            </a>
          </li>

        </ul>
      </div>


    </div>
  </div>
</template>
